// COLORS
$purple-100: #3c1361;
$purple-200: #52307c;
$purple-300: #663a82;

$blue-dark: #1766d2;
$blue-light: #5299f8;

$primary: $blue-dark;
$secondary: $blue-light;


// GRAYS
$gray-light: #e2e2e2;
$gray-dark: #41474e;