// GRADIENT COLORS
$sky-g-a: #96e9fb;
$sky-g-b: #13aec2;

$desert-g-a: #fe8b4c;
$desert-g-b: #6c3d9d;

$ocean-g-a: #26eda8;
$ocean-g-b: #2179b8;

$mars-g-a: #e5456b;
$mars-g-b: #cb3485;

$jet-blue-a: #0233a0;
$jet-blue-b: #00215a;


// COLORS
$primary: $jet-blue-a;
$secondary: $jet-blue-b;


// GRAYS
$gray-light: #e2e2e2;
$gray-dark: #41474e;