// GRADIENT COLORS
$sky-g-a: #96e9fb;
$sky-g-b: #13aec2;

$desert-g-a: #fe8b4c;
$desert-g-b: #6c3d9d;

$ocean-g-a: #26eda8;
$ocean-g-b: #2179b8;

$mars-g-a: #e5456b;
$mars-g-b: #cb3485;


// COLORS
$primary: $mars-g-a;
$secondary: $mars-g-b;