// LOGO
.logo {
  display: grid;
  width: calc(1.25 * #{$h1-font-size});
  svg {
    fill: $primary;
    width: 100%;
    height: auto;
    @include transition(all, 0.325s, ease);
  }
}

@media (min-width: 64rem) {
  .logo {width: calc(1.25 * #{$h1-font-size-big});}
}


// BANNERS
.banner {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 2rem;
  .overlay, .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &.center {justify-content: center;}
  &.start {justify-content: flex-start;}
}

@media (min-width: 48rem) {
  .banner {
    h1 {font-size: calc(1.25 * #{$h1-font-size-big});}
    p {
      margin-top: calc(1.25 * (0.5 * #{$p-font-size-big}));
      margin-bottom: calc(1.25 * (0.5 * #{$p-font-size-big}));
      font-size: calc(1.25 * #{$p-font-size-big});
    }
    &.center {
      align-content: center;
      justify-content: inherit;
    }
    &.start {
      align-content: flex-start;
      justify-content: inherit;
    }
  }
}

@media (min-width: 64rem) {
  .banner {
    h1 {font-size: calc(1.5 * #{$h1-font-size-big});}
    p {
      margin-top: calc(1.5 * (0.5 * #{$p-font-size-big}));
      margin-bottom: calc(1.5 * (0.5 * #{$p-font-size-big}));
      font-size: calc(1.5 * #{$p-font-size-big});
    }
  }
}


// WAVES BACKGROUND
.bg-waves {
//   background-image: url(../images/conflux-waves-bg-01.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}


// HIGHLIGHTS
.highlight.bg-primary {
  width: 100%;
  margin: 2rem 0;
  padding: calc(2rem - 0.5 * #{$h1-font-size}) 2rem 2rem;
}

.bg-primary {
  color: white;
  background: $primary;
  button, .button {
    border-color: white;
    color: $primary;
    background: white;
    &:hover, &:focus {
      color: white;
      background: $primary;
    }
  }
}