// LOGO
.logo {
  display: grid;
  width: 4rem;
  svg {
    fill: $primary;
    width: 100%;
    height: auto;
  }
}


// BANNERS
.banner {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 0;
  padding: calc(4 * #{$nav-font-size}) 2rem;
  .overlay, .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &.center {
    align-content: center;
  }
}

@media (min-width: 48rem) {
  .banner {
    h1 {font-size: calc(1.25 * #{$h1-font-size});}
    p {
      margin-top: calc(1.25 * (0.5 * #{$p-font-size}));
      margin-bottom: calc(1.25 * (0.5 * #{$p-font-size}));
      font-size: calc(1.25 * #{$p-font-size});
    }
  }
}

@media (min-width: 64rem) {
  .banner {
    h1 {font-size: calc(1.5 * #{$h1-font-size});}
    p {
      margin-top: calc(1.5 * (0.5 * #{$p-font-size}));
      margin-bottom: calc(1.5 * (0.5 * #{$p-font-size}));
      font-size: calc(1.5 * #{$p-font-size});
    }
  }
}


// BACKGROUND GRADIENT BANDS
.background {
  .band-one {
    position: relative;
    top: calc(50% - 1rem);
    right: 0;
    left: 0;
    width: 100%;
    height: calc(6 * #{$p-font-size});
    @include gradient-one;
  }
}
