// FONTS
@mixin sans-light {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
}

@mixin sans-regular {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin sans-bold {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
}