// FOOTER
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  nav {
    padding: 0;
    max-height: none;
    ul {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      height: auto;
      max-height: none;
      @include transform(translateX(0));
      li.logo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        a {
          svg {
            width: calc(2.5 * #{$nav-font-size});
            fill: $primary;
          }
        }
      }
      li {
        margin: calc(0.5 * #{$nav-font-size}) 0 0;
        width: calc(50% - 1rem);
        @include font-bold;
        ul {
          display: flex;
          flex-direction: column;
          width: 100%;
          li {
            width: 100%;
            margin: 0 0 calc(0.5 * #{$nav-font-size});
            font-size: calc(0.875 * #{$nav-font-size});
          }
        }
      }
      li.top {
        align-self: center;
        line-height: inherit;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: calc(4 * #{$nav-font-size});
          height: calc(4 * #{$nav-font-size});
          padding: calc(0.5 * #{$nav-font-size});
          border: 1px solid $primary;
          border-radius: 100%;
          svg {
            position: relative;
            width: calc(1.5 * #{$nav-font-size});
            max-width: 80%;
            height: auto;
            fill: $primary;
            @include transition(all, 0.5s, ease);
          }
        }
      }
    }
  }
  .business {
    display: flex;
    flex-direction: column-reverse;
    .legal {
      margin: 1rem 0 0;
      ul {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          width: calc(50% - 1rem);
          margin-top: calc(0.8rem * 0.5);
          margin-bottom: calc(0.8rem * 0.5);
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media (min-width: 48rem) {
  footer {
    nav {
      ul {
        li {
          width: calc((100% / 3) - 1rem);
        }
      }
    }
    .business {
      flex-direction: row;
      justify-content: space-between;
      .legal {
        margin: 0;
        min-width: 50%;
        ul {
          justify-content: flex-end;
          width: 100%;
          text-align: right;
          li {
            width: auto;
            padding: 0 0 0 1rem;
          }
        }
      }
    }
  }
}

@media (min-width: 64rem) {
  footer {
    nav {
      ul {
      li.logo {
        width: inherit;
        a:hover, a:focus {
          svg {
            fill: $secondary;
          }
        }
      }
        li {width: calc((100% / 7) - 1rem);}
        li.top {
          a {margin: 0 0 0 auto;}
          a:hover, a:focus {
            border-color: $secondary;
            svg {
              fill: $secondary;
              @include transform (rotate(720deg));
            }
          }
        }
      }
    }
  }
}