// HEADER
header {
  display: grid;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}


// HEADROOM
.headroom {
  @include transition (all, 0.325s, ease);
  will-change: transform;
}

.headroom--pinned {
  z-index: 10;
  @include transform (translateY(0));
}

.headroom--unpinned {@include transform (translateY(-100vh));}


// OPEN HEADER
header.open {
  nav {
    height: 100vh;
    max-height: 100vh;
    button.menu-toggle {
      svg.menu-toggle-open {width: 0;}
      svg.menu-toggle-close {width: 2rem;}
    }
    ul {
      width: 100%;
      height: auto;
      max-height: 100%;
      @include transform(translateX(0));
    }
  }
}