// GRADIENTS: WELCOME
.welcome {
  background: rgb(150,233,251);
  background: linear-gradient(0deg, rgba(150,233,251,1) 10%, rgba(19,174,194,1) 100%);

  background: rgb(254,139,76);
  background: linear-gradient(0deg, rgba(254,139,76,1) 0%, rgba(108,61,157,1) 100%);

  background: rgb(38,237,168);
  background: linear-gradient(0deg, rgba(38,237,168,1) 0%, rgba(33,121,184,1) 100%);

  background: rgb(229,69,107);
  background: linear-gradient(0deg, rgba(229,69,107,1) 0%, rgba(203,52,133,1) 100%);
}


// LAYOUT
main {
  margin: 3.5rem 0 0;
  .row {
    display: flex;
    flex-direction: column;
    width: calc(100% - 4rem);
    margin: 0 auto;
    &.wide {width: 100%;}
    &.column {flex-direction: column;}
    .row {width: 100%;}
    .column {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}

@media (min-width: 48rem) {
  main {
    .row {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .row.fifty {
      .column {width: calc(50% - 1rem);}
    }
    .row.golden.left {
      .column:nth-child(1n) {width: calc(62% - 1rem);}
      .column:nth-child(2n) {width: calc(38% - 1rem);}
    }
    .row.golden.right {
      .column:nth-child(1n) {width: calc(38% - 1rem);}
      .column:nth-child(2n) {width: calc(62% - 1rem);}
    }
    .row.thirds {
      .column {width: calc(33% - 1rem);}
    }
    .row.fourths {
      .column {width: calc(25% - 1rem);}
    }
  }
}


// MODIFIERS
.tall {min-height: 90vh;}
.short {min-height: 45vh;}