// MIXINS
@mixin transition($property: all, $duration: 0.325s, $easing: ease, $delay: 0s) {
  -webkit-transition: $property $duration $easing $delay;
  -moz-transition: $property $duration $easing $delay;
  -ms-transition: $property $duration $easing $delay;
  -o-transition: $property $duration $easing $delay;
  transition: $property $duration $easing $delay;
};

@mixin transform($transform: all) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
};

@mixin transform-origin($transform-origin: all) {
  -webkit-transform-origin: $transform-origin;
  -moz-transform-origin: $transform-origin;
  -ms-transform-origin: $transform-origin;
  -o-transform-origin: $transform-origin;
  transform-origin: $transform-origin;
};


// FONTS
@mixin font-regular {
  font-family: "Titillium Web", serif;
  font-weight: 400;
  font-style: normal;
}

@mixin font-bold {
  font-family: "Titillium Web", serif;
  font-weight: 700;
  font-style: normal;
}


// GRADIENT BACKGROUNDS
@mixin gradient-one {
// 	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background: linear-gradient(-90deg, $sky-g-a, $primary, $secondary, $sky-g-b);
	background-size: 400% 400%;
	animation: gradient-a 10s ease infinite;
}

@keyframes gradient-a {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}