// TYPOGRAPHY
/* 
  NOTES:  
  All typography is set to a 1.250 Major-Third type-scale
*/
h1, h2, h3, h4, h5, p, small {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  color: inherit;
}

h1, h2, h3, h4, h5 {
  @include font-bold;
  line-height: 1.2;
}

h1 {
  margin-top: calc(0.5 * #{$h1-font-size});
//   margin-bottom: calc(0.25 * #{$h1-font-size});
	font-size: $h1-font-size;
}

h2 {
  margin-top: calc(0.5 * #{$h2-font-size});
//   margin-bottom: calc(0.25 * #{$h2-font-size});
	font-size: $h2-font-size;
}

h3 {
  margin-top: calc(0.5 * #{$h3-font-size});
//   margin-bottom: calc(0.25 * #{$h3-font-size});
	font-size: $h3-font-size;
}

h4 {
  margin-top: calc(0.5 * #{$h4-font-size});
//   margin-bottom: calc(0.25 * #{$h4-font-size});
	font-size: $h4-font-size;
}

p {
  margin-top: calc(1rem * 0.5);
  margin-bottom: calc(1rem * 0.5);
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
}

strong, em {display: inline;}

small {
  margin-top: calc(0.5 * #{$small-font-size});
  margin-bottom: calc(0.5 * #{$small-font-size});
	font-size: $small-font-size;
}

.visuallyhidden {display: none;}


// LISTS
ol, ul, dl {
  margin-top: calc(1 * #{$li-font-size});
  margin-bottom: calc(1 * #{$li-font-size});
	padding: 0 0 0 1rem;
	li {
	  margin-top: calc(0.5 * #{$li-font-size});
	  margin-bottom: calc(0.5 * #{$li-font-size});
		font-size: $li-font-size;
		line-height: 1.5;
	}
}

dl {
	padding: 0;
	dt {
	  margin-top: calc(0.5 * #{$li-font-size});
		@include font-bold;
		font-size: $li-font-size;
	}
	dd {
	  margin-bottom: calc(0.5 * #{$li-font-size});
	  margin-left: 0;
		font-size: $li-font-size;
		line-height: 1.5;
	}
}


// TEXT LINK STYLES
a {
  font-weight: 700;
  text-decoration: none;
  color: $primary;
  cursor: pointer;
  @include transition(all, 0.325s, ease);
}

a:hover, a:focus {color: $secondary;}


// MODIFIERS
.center {text-align: center;}
.right {text-align: right;}