// NAVIGATION VARIABLES
$nav-font-size: 1rem;


// TYPOGRAPHY VARIABLES
$h1-font-size: 1.953rem;
$h2-font-size: 1.563rem;
$h3-font-size: 1.25rem;
$h4-font-size: 1rem;
$p-font-size: 1rem;
$small-font-size: 0.8rem;
$li-font-size: 1rem;


