// HEADER
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  margin: 0;
  padding: 0;
  background: transparent;
}

header.headroom {
  @include transition(all, 0.325s, ease);
  will-change: transform
}

header.headroom--pinned {
  background: white;
  @include transform(translateY(0));
}

header.headroom--unpinned {
  @include transform(translateY(-200vw));
}

header.headroom--top {
  nav {
    .logo {
      @include transform(translateX(0) scale(1.5));
    }
  }
}

header.open {
  nav {
    .logo {
      @include transform(translateX(-100vw) scale(0));
    }
  }
}


// OPEN HEADER
header.open {
  nav {
    position: fixed;
    top: 0;
    height: 100vh;
    max-height: 100vh;
    background: white;
    button.menu-toggle {
      svg.menu-toggle-open {width: 0;}
      svg.menu-toggle-close {width: 2rem;}
    }
    ul {
      width: 100%;
      height: calc(100vh - 4.5rem);
      max-height: 100%;
      @include transform(translateX(0));
    }
  }
}